*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.section-img {
  width: 100vw;
  height: 180px;
}

.section-title{
  display: flex;
  margin: 7px 0px 0px 12px;
  font-size: 20px;
}

.section-text{
  text-align: left;
  margin: 5px 3px 12px 12px;
}

.navBar{
  width: 100vw;
  height: 60px;
  background-color: rgb(16, 160, 255);
}

.navBar-icon{
  color: white;
  padding-top: 13px;
  margin-left: 170px;
}

.card{
  display:flex;
  border-bottom: 1px solid;
}

.card-img{
  width: auto;
  height: 150px;
  margin: 20px 0px 0px 35px;
}

.card-content{
  text-align: left;
  margin: 45px;
}

.card-content-title{
  font-size: 22px;
}

.card-content-text{
  margin: 15px 0px 4px 0px;
  font-size: 18px;
}

.card-content-subText{
  font-size: 12px;
  font-weight: 800;
}

.beer-details-img{
  width: auto;
  height: 300px;
  margin: 40px 15px 0px 150px;
}

.beer-details-section{
  display: flex;
  justify-content: space-between;
}

.beer-detail-section-name{
  font-size: 25px;
  margin: 25px 25px 0px 25px;
}

.beer-details-section-attenuation{
  margin: 25px 50px 0px 25px;
  font-size: 25px;
}

.beer-details-sectionTwo{
  display: flex;
  justify-content: space-between;
}

.beer-details-sectionTwo-tagline{
  margin: 10px 25px 0px 25px;
}

.beer-details-sectionTwo-firstBrewed{
  margin: 10px 50px 0px 25px;
  font-weight: bolder;
}

.beer-details-description{
  margin: 15px 35px 15px 25px;
  text-align: left;
  font-weight: bold;
}

.beer-details-contributedBy{
  text-align: left;
  margin-left: 24px;
}

.form-field-content {
  display: block;
  border-radius: 15px;
  width: 80%;
  height: 25px;
  margin: 5px 0px 0px 30px;
  opacity: 0.5;
}

.form-field-content--text-area {
  height: 150px;
}

.form-field-label{
  display: flex;
  margin: 25px 30px 0px 50px;
  font-weight: 900;
  font-size: 14px;
}

.container-btn{
  width: 80%;
  height: 30px;
  color: white;
  background-color: rgb(16, 160, 255);
  border-radius: 15px;
  border-color: rgb(16, 160, 255);
  margin: 25px 40px 0px 30px;
}

.search-input{
  width: 100vw;
  height: 19px;
}